.banner {
    position: relative;
    color: white;
    border-radius: 0.25rem;
    box-shadow: 0 0 3px 0 white;
    overflow: hidden;
    display: flex;
    justify-content: center;
    padding: 2rem;

    > .content {
        background-color: rgba(0, 0, 0, 0.35);
        border-radius: 0.5rem;
        padding: 1rem;

        > h1 {
            font-size: 3.5rem;
            font-weight: bold;
            text-align: center;
            margin: 0;

            > .client {
                color: var(--primary-color);
            }
        }
        > .subline {
            font-size: 0.95rem;
            > p {
                margin: 0;

                > .dev-name {
                    color: var(--primary-color);
                    margin-left: auto;
                }
            }
        }
    }

    > .social {
        position: absolute;
        right: 0.25rem;
        top: 0.25rem;
        line-height: 0;
        > a {
            color: darken(white, 10);
            font-size: 2rem;
        }
    }

    > video {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        object-position: center;
        object-fit: cover;
    }
}

.main-content {
    .dl-btn-container {
        flex-basis: 0;
        .repo-btn {
            flex: 1 1 auto;
            white-space: nowrap;
            display: flex;
            padding: 0 0.5rem;
            border-radius: 0.25rem;
            background-color: var(--primary-color);
            color: var(--surface-a);
            align-items: center;
            text-decoration: none;
            transition: all 200ms ease-in-out;
            font-size: 0.95rem;
            box-shadow: 0 0 10px 0 black;

            > fa-icon {
                font-size: 1.25rem;
            }

            &:hover {
                background-color: darken(#9fa8da, 5);
                box-shadow: 0 0 3px 0 white;
            }
        }
        .download-btn {
            flex: 1 1 auto;
            white-space: nowrap;
            display: flex;
            padding: 0.25rem 0.75rem;
            border-radius: 0.5rem;
            background-color: darken(#9fa8da, 15);
            color: var(--surface-a);
            align-items: center;
            text-decoration: none;
            transition: all 200ms ease-in-out;
            font-size: 0.95rem;
            box-shadow: 0 0 10px 0 black;

            > i {
                font-size: 2rem;
                padding-right: 0.75rem;
            }

            &:hover {
                background-color: darken(#9fa8da, 20);
                box-shadow: 0 0 3px 0 white;
            }
        }
    }

    .content-item {
        padding: 0.5rem;
        background-color: var(--surface-f);
        border-radius: 0.25rem;
        transition: box-shadow 200ms ease-in-out;

        &:hover {
            box-shadow: 0 0 5px 0 white;
        }
    }

    .slider-img {
        border-radius: 0.5rem;
        transition: box-shadow 200ms ease-in-out;
        background-color: var(--surface-c);

        &:hover {
            cursor: pointer;
            box-shadow: 0 0 5px 0 white;
        }
    }
}

:host ::ng-deep {
    p-carousel {
        .p-highlight {
            .p-link {
                background-color: var(--primary-color) !important;
            }
        }
    }

    .img-dialog {
        border-radius: 0.5rem;
        box-shadow: 0 0 3px 0 white;
        overflow: hidden;
        transition: box-shadow 200ms ease-in-out;

        &:active {
            box-shadow: 0 0 8px 0 white;
        }

        .p-dialog-header,
        .p-dialog-content {
            background-color: var(--surface-a);
        }

        img {
            border-radius: 0.5rem;
        }
    }
    .scrolltop {
        > button {
            width: 2rem;
            height: 2rem;
            border-radius: 4px;
            background-color: var(--primary-color);

            &:hover {
                background-color: var(--primary-color);
            }

            .p-scrolltop-icon {
                font-size: 1rem;
                color: var(--primary-color-text);
            }
        }
    }
}
